.crystal-1, .crystal-2, .crystal-3 {
  width: 75px;
  height: auto;
}

html {
  height: 100%;
  background: url("https://www.pixilart.com/images/art/18b140ee5ae7053.png") no-repeat center center;
  background-size: cover;
}

body {
  font-family: 'VT323', monospace;
  background-color: transparent !important;
}

.coins{
  margin-top: 75px;
}
.score{
  margin-top: 125px;
}

.rand-num, .total{
  color: black
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
}