.coin-1, .coin-2, .coin-3 {
  width: 75px;
  height: auto;
}

html {
  height: 100%;
  background: url("https://www.pixilart.com/images/art/18b140ee5ae7053.png") no-repeat center center;
  background-size: cover;
}

body {
  font-family: 'VT323', monospace;
  background-color: transparent;
}

.coins {
  margin-top: 35px;
}

.score {
  margin-top: 155px;
}


.instructions {
  font-size: 25px;
  margin-top: 15px;
}

.winnerLoser {
  font-size: 100px;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .instructions {
    font-size: 15px;
    margin-top: 5px;
  }
  .winnerLoser {
    font-size: 30px;
  }
  .score {
    margin-top: 100px;
  }
}